
<footer class="footer">

	<div class="row footer-top">
			<div class="col-md-12 footer-row">
			</div>

			<div class="col-md-12 footer-row">
				<span class="footer-row-title">联系方式：</span> <span>客服电话：</span><span>电子邮箱：</span><span> 公司地址：
					</span>
			</div>

			<div class="col-md-12 footer-row">
			</div>
	</div>

	<div class="row footer-bottom">
			<div class="col-md-12">
				&#169;&#160;  <%= Date.today.year %>
				&#160;Sydney Summit Technology Development PTY. LTD
			</div>
	</div>

</footer>
